{{#if banners.bottom}} {{#if settings.data_tag_enabled}}
<div class="banners bottom-banner" data-banner-location="bottom">
    {{#each (limit banners.bottom_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<div class="banners bottom-banner" data-banner-location="bottom">
    <div class="banner">
        {{{limit banners.bottom 1}}}
    </div>
</div>
{{/if}} {{/if}}
