<div class="navPages-list navPages-dropdown navPages-list-depth-max desktop-menu">
	<li class="navPages-item navPages-dropdown-child">
		{{#if children}}
		    <a class="navPages-action navPages-action-depth-max has-subMenu is-root{{#if is_active}} activePage{{/if}}" href="{{url}}">
		        {{name}} 
		        <i class="icon navPages-action-moreIcon" aria-hidden="true">
		            <span class="icon-multimedia theme-icon" data-icon="&#xe902;"></span>
		        </i>
		    </a>
		    {{> components/elevate/navigation-dropdown}}
		{{else}}
		    <a class="navPages-action{{#if is_active}} activePage{{/if}}" href="{{url}}">{{name}}</a>
		{{/if}}
	</li>
</div>
