<!-- product filtering start -->
<!-- <nav>
    <div class="sidebarBlock"> 
        <h5 class="sidebarBlock-heading">{{lang 'category.label'}}</h5>
        <ul class="navList">
            {{#each categories}}
                <li class="navList-item">
                    {{#if children}}
                        <i class="icon navPages-action-moreIcon navList-icon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
                        <a class="navList-action has-subMenu" href="{{url}}" alt="{{name}}" title="{{name}}">
                            {{name}}
                        </a>
                        <ul class="navList-childlist">
                            {{#each children}}
                            <li class="navList-childlist-item">
                                {{#if children}}
                                    <i class="icon navPages-action-moreIcon navList-icon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
                                    <a class="navList-action has-subMenu" href="{{url}}" alt="{{name}}" title="{{name}}">
                                        {{name}}
                                    </a>
                                    <ul class="navList-childlist">
                                        {{#each children}}
                                        <li class="navList-childlist-item">
                                            {{#if children}}
                                                <i class="icon navPages-action-moreIcon navList-icon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
                                                <a class="navList-action has-subMenu" href="{{url}}" alt="{{name}}" title="{{name}}">
                                                    {{name}}
                                                </a>
                                                <ul class="navList-childlist">
                                                    {{#each children}}
                                                    <li class="navList-childlist-item">
                                                        {{#if children}}
                                                            <i class="icon navPages-action-moreIcon navList-icon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
                                                            <a class="navList-action has-subMenu" href="{{url}}" alt="{{name}}" title="{{name}}">
                                                                {{name}}
                                                            </a>
                                                            <ul class="navList-childlist">
                                                                {{#each children}}
                                                                <li class="navList-childlist-item">
                                                                    {{#if children}}
                                                                        <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                                                                    {{else}}
                                                                        <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                                                                    {{/if}}
                                                                </li>
                                                                {{/each}}
                                                            </ul>
                                                        {{else}}
                                                            <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                                                        {{/if}}
                                                    </li>
                                                    {{/each}}
                                                </ul>
                                                {{else}}
                                                    <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                                            {{/if}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                    {{else}}
                                        <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                                {{/if}}
                            </li>
                            {{/each}}
                        </ul>
                    {{else}}
                        <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>

    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
        {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
    {{/if}}
</nav> -->
<!-- product filtering end -->

<!-- bottom banner start -->
<!-- {{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}
{{/if}} -->
<!-- bottom banner end -->


