{{#unless theme_settings.hide_usp}}
{{#if theme_settings.usp_number '!=' 0}}
<div class="container">
	<ul class="usp-list">
		{{#if theme_settings.usp_number '>=' 1}}
		<li class="usp-list-item first-usp show">
			<p class="usp-element">
				{{#if theme_settings.first_usp_image}}
					<img 
					class="show lazyload" 
					data-sizes="auto" 
					src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" 
					data-src="{{theme_settings.first_usp_image}}" 
					alt="{{theme_settings.first_usp_title}}" 
					title="{{theme_settings.first_usp_title}}"
					/>
				{{/if}}
				<span class="usp-content show">
					{{#if theme_settings.first_usp_title}}
						<label class="usp-content-main">{{theme_settings.first_usp_title}}</label>
					{{/if}}
					{{#if theme_settings.first_usp_subtitle}}
						<label class="usp-content-sub">{{theme_settings.first_usp_subtitle}}</label>
					{{/if}}
				</span>
			</p>
		</li>
		{{/if}}
		{{#if theme_settings.usp_number '>=' 2}}
		<li class="usp-list-item second-usp show">
			<p class="usp-element">
				{{#if theme_settings.second_usp_image}}
					<img 
					class="show lazyload" 
					data-sizes="auto" 
					src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" 
					data-src="{{theme_settings.second_usp_image}}" 
					alt="{{theme_settings.second_usp_title}}" 
					title="{{theme_settings.second_usp_title}}"
					/>
				{{/if}}
				<span class="usp-content show">
					{{#if theme_settings.second_usp_title}}
						<label class="usp-content-main">{{theme_settings.second_usp_title}}</label>
					{{/if}}
					{{#if theme_settings.second_usp_subtitle}}
						<label class="usp-content-sub">{{theme_settings.second_usp_subtitle}}</label>
					{{/if}}
				</span>
			</p>
		</li>
		{{/if}}
		{{#if theme_settings.usp_number '>=' 3}}
		<li class="usp-list-item third-usp show">
			<p class="usp-element">
				{{#if theme_settings.third_usp_image}}
					<img 
					class="show lazyload" 
					data-sizes="auto" 
					src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" 
					data-src="{{theme_settings.third_usp_image}}" 
					alt="{{theme_settings.third_usp_title}}" 
					title="{{theme_settings.third_usp_title}}"
					/>
				{{/if}}
				<span class="usp-content show">
					{{#if theme_settings.third_usp_title}}
						<label class="usp-content-main">{{theme_settings.third_usp_title}}</label>
					{{/if}}
					{{#if theme_settings.third_usp_subtitle}}
						<label class="usp-content-sub">{{theme_settings.third_usp_subtitle}}</label>
					{{/if}}
				</span>
			</p>
		</li>
		{{/if}}
		{{#if theme_settings.usp_number '>=' 4}}
		<li class="usp-list-item fourth-usp show">
			<p class="usp-element">
				{{#if theme_settings.fourth_usp_image}}
					<img 
					class="show lazyload" 
					data-sizes="auto" 
					src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" 
					data-src="{{theme_settings.fourth_usp_image}}" 
					alt="{{theme_settings.fourth_usp_title}}" 
					title="{{theme_settings.fourth_usp_title}}"
					/>
				{{/if}}
				<span class="usp-content show">
					{{#if theme_settings.fourth_usp_title}}
						<label class="usp-content-main">{{theme_settings.fourth_usp_title}}</label>
					{{/if}}
					{{#if theme_settings.fourth_usp_subtitle}}
						<label class="usp-content-sub">{{theme_settings.fourth_usp_subtitle}}</label>
					{{/if}}
				</span>
			</p>
		</li>
		{{/if}}
	</ul>
</div>
{{/if}}
{{/unless}}
