/* hero-carousel style start */
.heroCarousel{
	margin-bottom: 0;
	@include breakpoint("medium"){
		margin-top: -(spacing("single"));
	} 
	.slick-dots{ 
		bottom: 6px;
		@include breakpoint("small"){
			bottom: 10px;
		}
		@include breakpoint("medium"){
			bottom: 20px;
		} 
		li{
			background-color: transparent;
			width: 10px;
			height: 10px;
			padding: 0;
			margin: 0 4px;
			@include sm{
				width: 15px;
				height: 15px;
			}
			@include md{
				width: 19px;
				height: 19px;
			}
			button{
				border: 3px solid $carousel-dot-border;
				width: 10px;
				height: 10px;
				@include sm{
					width: 15px;
					height: 15px;
				}
				@include md{
					width: 19px;
					height: 19px;
				}
				&::before{ 
					background-color: $carousel-dot-bg;
					opacity: 1; 
					width: 6px;
					height: 6px;
					@include sm{
						width: 11px;
						height: 11px;
					}
					@include md{
						width: 15px;
						height: 15px;
					}
				}
			}
			&.slick-active{ 
				button{
					&::before{
						background-color: $carousel-dot-active;
					}
				}
			}
			&:hover{
				button{
					&::before{
						background-color: $carousel-dot-active;
					}
				}
			}
		}
	}
} 
.heroCarousel-slide{
	.heroCarousel-image-wrapper{
		max-height: inherit;
		.heroCarousel-image{
			max-height: inherit;
			object-fit: cover;
		}
	}
}
.heroCarousel-content{
	background-color: rgba($carousel-bgColor, (strip-unit($carousel-bgColor-opacity)));
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
    /*padding: 8px 16px;*/
    
    @media only screen and (max-width: 475px){
	   padding:40px 1.5rem;
	}
    
    
}
.heroCarousel-title,.heroCarousel-description{
	line-height: 1;
	text-transform: uppercase;
	text-shadow: 2px 1px 0 rgba($link-hover-color,0.76);
	margin-bottom: 8px;
	@include md{
		text-shadow: 2px 1px 0 rgba($link-hover-color,0.76);
	}
}
.heroCarousel-title{
	font-family: $carousel-title;
	font-size: round($carousel-title-fontsize/4) + 2;
	color: $carousel-title-color;
	font-weight: 700;
	@include breakpoint("small"){
		font-size: round($carousel-title-fontsize/3);
	}
	@include sm{
		font-size: round($carousel-title-fontsize/2);
	}
	@include md{
		font-size: $carousel-title-fontsize - 20;
	}
	@include lg{
		font-size: $carousel-title-fontsize - 15;	
	}
	@include xl{
		font-size: $carousel-title-fontsize; 
	}
}
.heroCarousel-description{
	font-family: $carousel-description;
	font-size: round($carousel-description-fontsize/3);
	color: $carousel-description-color;
	font-weight: 700;
	font-style: italic;
	@include sm{
		font-size: round($carousel-description-fontsize/2);
	}
	@include md{
		font-size: $carousel-description-fontsize - 20;
	}
	@include lg{
		font-size: $carousel-description-fontsize - 15;
	}
	@include xl{
		font-size: $carousel-description-fontsize;
	}	
}
.heroCarousel-action{
	line-height: 1;
	font-size: $button-small-fontsize;
	border: none;
	padding: 8px 16px;
	box-shadow: 0px 0px 1px 3px rgba($theme-white,0.5);
	text-transform: uppercase;
	font-weight: 700;
	background-color: $carousel-button-color;
	color: $carousel-button-text-color;
	&:hover{
		box-shadow: 0px 0px 1px 3px rgba($carousel-button-text-color-hover,1);
		border: none;
		background-color: $carousel-button-color-hover;
		color: $carousel-button-text-color-hover;
	}
	@include sm{
		font-size: $button-default-fontsize + 2;
		padding: 10px 20px;
	}
	@include md{
		font-size: $button-large-fontsize;
		padding: 14px 25px;
	}
	@include lg{
		padding: 15px 34px;
	}
	@include xl{
		font-size: $button-extralarge-fontsize;
	}
}
.heroCarousel{ 
	.slick-next, .slick-prev{
		background-color: $carousel-arrow-bg;
	}	
	.slick-arrow{
		width: 20px;   
		height: 32px;
		@include sm {
		    height: 50px;
		}
		@include lg{ 
			width: 30px;  
			height: 86px;
		}
		&.slick-prev{
			left: 5px;
			@include md{
				left: 10px;
			}
			@include lg{
				left: 35px;
			}
			@include breakpoint(1440px){
				left: 75px;
			}
			@include breakpoint(1600px){
				left: 10%;
			}
			@include xl{
				left: 11%;
			}
	        &::before{
	          transform: rotate(180deg);
	          background-image: none;
	          color: $carousel-arrow-color;
	          height: 30px;
			  font-size: 30px;
			  @include sm {
        		    height: 50px;
			        font-size: 50px;
        	    }
	        }
	    }
	    &.slick-next{
	    	right: 5px;
	    	@include md{
	    		right: 10px;
	    	}
	    	@include lg{
	    		right: 35px;
	    	}
	    	@include breakpoint(1440px){
				right: 75px;
			}
			@include breakpoint(1600px){
				right: 10%;
			}
	    	@include xl{
	    		right: 11%;
	    	}
	        &::before{
	          background-image: none;
	          color: $carousel-arrow-color;
	          height: 30px;
			  font-size: 30px;
			  @include sm {
        		    height: 50px;
			        font-size: 50px;
        		}
	        }
	      }
	}
}
/* hero-carousel style end */

/* section heading style start */
.section-title{
	text-align: center;
	padding: 24px 0 12px;
	position: relative;
	.section-heading{
		font-family: $section-title;
		font-size: $section-title-fontsize - 6;
		color: $section-title-color;
		font-weight: 700;
		text-transform: uppercase;
		position: relative;
		display: inline-block;
		margin: 0 0 8px;
		line-height: 1.2;
		&:before,&:after{
			@include breakpoint("small"){
				content:"";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				border: 3px solid $section-sub-title-color;
				width: 80px;
			}
		}
		&:before{
			@include breakpoint("small"){
				left: -96px;	
			}
		}
		&:after{
			@include breakpoint("small"){
				right: -96px;
			}
		}
		@include sm{
			font-size: $section-title-fontsize - 4;
		}
		@include md{
			font-size: $section-title-fontsize - 2;
		}
		@include xl{
			font-size: $section-title-fontsize;
		}
	}
	.section-sub-heading{
		font-family: $section-sub-title;
		font-size: $section-sub-title-fontsize - 4;
		color: $section-sub-title-color;
		font-weight: 700;
		font-style: italic;
		@include sm{
			font-size: $section-sub-title-fontsize - 3;
		}
		@include md{
			font-size: $section-sub-title-fontsize - 2;
		}
		@include xl{
			font-size: $section-sub-title-fontsize;
		}
	}
	@include sm{
		padding: 32px 0 22px;
	}
	@include lg{
		padding: 40px 0 30px;
	}
}
/* section heading style end */

/* usp section style start */
.usp-list{
	font-size: 0;
	margin: 24px -1px;
	.usp-list-item{
		flex: 1;
		padding: 0 5px;
		.usp-element{
			border: 2px solid $usp-border-color;
			background-color: $usp-bg-color;
			text-align: center;
			padding: 12px 9px;
			margin-bottom: 0;
			.usp-content{
				text-align: left;
				padding-left: 10px;
				.usp-content-main{
					font-family: $body-fontfamily;
					font-size: $body-fontsize;
					color: $usp-title-color;
					font-weight: 700;
					padding-bottom: 5px;
					display: block;
					@include xl{
						font-size: $body-fontsize + 3;
					}
				}
				.usp-content-sub{
					font-family: $body-fontfamily;
					font-size: $body-fontsize - 2;
					color: $usp-subtitle-color;
					font-weight: 400;
					display: block;
					@include xl{
						font-size: $body-fontsize;
					}
				}
				@include xl{
					padding-left: 14px;
				}
			}
			@include sm{
				padding: 12px;
			}
			@include xl{
				padding: 20px 24px;  
			}
		}
		@include sm{
			padding: 0 10px;
		}
		@include breakpoint("large"){
			width: 25%;
		}
		@include xl{
			padding: 0 15px;
		}
	}
	@include sm{
		margin: 0px -10px 40px -10px;
	}
	@include lg{
		display: flex;
		margin: 10px -10px 30px;
	}
	@include xl{
		margin: 10px -15px 30px;
	}

	.slick-slide{
		img{
			width: auto;
			display: inline-block;
		}
	}
}
/* usp section style end */

/* recent updates style start */
.recent-update{
	.recent-update-element{
		.recent-update-element-content{
			background-color: stencilColor("recent-updates-background-color");
			padding: 20px;
			.recent-update-left{
				width: 100%;
				margin-bottom: 20px;
				.recent-update-details{
					.blog-title{
						font-family: $section-title;
						font-size: ($recent-main-fontsize/2) - 2;
						color: $recent-main-color;
						font-weight: 700;
						margin: 0;
						text-transform: none;
						@include sm{
							font-size: $recent-main-fontsize/2;
						}
						@include md{
							font-size: $recent-main-fontsize - 16;
						}
						@include lg{
							font-size: $recent-main-fontsize - 8;
						}
						@include xl{
							font-size: $recent-main-fontsize;
						}
					}
					.blog-summary{
						line-height: 1.4;
						font-family: $body-fontfamily;
						font-size: $recent-sub-fontsize - 7;
						color: $body-secondary-text-color;
						font-weight: 400;
						margin: 12px 0;
						@include sm{
							font-size: $recent-sub-fontsize - 6;
							margin: 16px 0;
						}
						@include md{
							font-size: $recent-sub-fontsize - 5;
							margin: 48px 0;
						}
						@include lg{
							font-size: $recent-sub-fontsize - 3;
							margin: 32px 0;
						}
						@include xl{
							font-size: $recent-sub-fontsize;
							margin: 24px 0;
						}
					}
					.blog-read-more{
						text-decoration: none;
						span{
							font-family: $body-fontfamily;
							font-size: $body-fontsize - 2;
							color: $recent-main-color;
							font-weight: 700;
							text-transform: uppercase;
							border-bottom: 1px solid rgba($recent-main-color,0.5);
							@include md{
								font-size: $body-fontsize - 1;
							}
						}
						&:hover{
							span{
								border-bottom: 1px solid rgba($body-secondary-text-color,1);
							}
						}
					}
				}
				@include sm{
					margin-bottom: 0;
					width: 400px;
					padding: 36px 0px 36px 10px;
				}
				@include md{
					width: 430px;
					padding: 26px 0px 26px 30px;
				}
				@include breakpoint(1200px){
					width: 480px;
					padding: 52px 0px 52px 50px;
				}
				@include lg{
				    padding: 122px 0px 122px 50px;
				}
				@include xl{
					width: 610px;
					padding: 162px 0px 162px 70px;
				}
			}
			.recent-update-right{
				.blog-date,.blog-author{
					font-family: $body-fontfamily;
					font-size: $body-fontsize - 1;
					color: $body-secondary-text-color;
					font-weight: 400;
					display: block;
					text-align: left;
					@include md{
						font-size: $body-fontsize;
					}
					@include xl{
						font-size: $body-fontsize + 1;
					}
					.theme-icon{
						margin-right: 8px;
						&:before{
							color: $body-secondary-text-color;
						}
					}
				}
				.blog-author{
					margin: 0 0 15px;
					@include sm{
						margin: 16px 0;
					}
					@include lg{
						margin: 24px 0;
					}
					@include xl{
						margin: 32px 0;
					}
				}
				.blog-date{
					margin: 15px 0 0;
					@include sm{
						margin: 16px 0;
					}
					@include lg{
						margin: 24px 0;
					}
					@include xl{
						margin: 29px 0;
					}
				}
				@include sm{
					position: relative;
					top: 0;
					transform: none;
					margin-right: -40px;
					width: calc(100% - 400px);
				}
				@include md{
					margin-right: -68px;
					width: calc(100% - 430px);
				}
				@include breakpoint(1200px){
					width: calc(100% - 480px);
				}
				@include lg{
				    margin-right: -84px;
				    width: calc(100% - 470px);
				}
				@include xl{
					margin-right: -128px;
					width: calc(100% - 553px);
				}
			}
			&.no-blog-image{
				margin-right: 0;
				.recent-update-left{
					padding: 0;
					width: 100%;
					.recent-update-details{
						.blog-summary{
							margin: 12px 0;
							@include sm{
								margin: 16px 0;
							}
							@include md{
								margin: 24px 0;
							}
						}
					}
				}
				.recent-update-right{
					position: inherit;
					width: 100%;
					right: 0;
					top: 0;
					transform: none;
					.blog-author{
						margin-bottom: 8px;
						@include md{
							margin-bottom: 16px;
						}
						@include lg{
							margin-bottom: 24px;
						}
					}
					.blog-date{
						margin-top: 8px;
						@include md{
							margin-top: 16px;
						}
						@include lg{
							margin-top: 24px;
						}
					}
				}
				@include sm{
					padding: 25px;
				}
				@include lg{
					padding: 30px;
				}
			}
			@include sm{
				padding: 0;
				position: relative;
				margin-right: 40px;
				display: flex;
				align-items: center;
				justify-content:space-between;
                flex-wrap:wrap;
			}
			@include md{
				margin-right: 68px;
			}
			@include lg{
				margin-right: 84px;
			}
			@include xl{
				margin-right: 128px;
			}
		}
		.recent-update-more{
			display: block;
			text-align: right;
			margin-top: 10px;
			a{	
				font-family: $body-fontfamily;
				font-size: $body-fontsize;
				color: $link-hover-color;
				font-weight: 700;
				text-transform: capitalize;
				text-decoration: none;
				&:hover{
					color: $link-color;
				}
				@include md{
				    font-size: $body-fontsize + 2;
				}
				@include lg{
				    font-size: $body-fontsize + 4;
				}
				@include xl{
					font-size: $body-fontsize + 6;
				}
				
			}
			@include sm{
				margin-top: 12px;
				margin-right: 40px;
			}
			@include md{
				margin-top: 16px;
				margin-right: 68px;
			}
			@include lg{
				margin-right: 84px;
			}
			@include xl{
				margin-top: 20px;
				margin-right: 128px;
			}
		}
	}
}
.recent-update-element-content.no-blog-image + .recent-update-more{
	margin-right: 0;
}
/* recent updates style end */

/* our story style start */
.our-story{
	margin-bottom:60px;
}
.our-story-element{
	.our-story-contents{
		.banners{
			font-size: 0;
			background-color: transparent;
			padding: 0;
			.banner{
				max-width: 100%;
				position: relative;
    			text-align: left;
				.our-story-img{
					margin-bottom: 16px;
					@include md{
						width: 100%;
						max-width: 460px;
						/*margin-bottom: 0;*/
					}
					@include breakpoint(1200px){
					    max-width: 620px;
					}
					@include lg{
						max-width: 640px;
					}
					@include xl{
						max-width: 800px;
					}
				}
				.our-story-content{
					@include md{
						width: 100%;
						max-width: 550px;
					    position: absolute;
					    top: 50%;
					    transform: translateY(-50%);
					    right: 0;
					}
					@include breakpoint("large"){
						max-width: 620px;
					}
					@include lg{
					    max-width: 640px;
					}
					@include xl{
						max-width: 730px;
					}
					.our-story-sub-content{
						padding: 16px;
					    margin-bottom: 20px;
					    position: relative;
					    text-align: left;
					    &::before{
					    	position: absolute;
						    content: '';
						    width: 100%;
						    height: 100%;
						    top: 0;
						    right: 0;
						    border: 3px solid $primary-btn-border;
						    @include md{
						    	border-width: 4px;
						    	width: calc(100% + 10px);
						    }
						    @include xl{
						    	border-width: 6px;
						    }
					    }
					    p{
							line-height: 1.4;
							font-family: $body-fontfamily;
							font-size: $body-fontsize;
							color: $our-story-text-color;
							font-weight: 500;
							/*margin-bottom: 0;*/
							@include lg{
								font-size: $body-fontsize + 3;
							}
							@include xl{
								font-size: $body-fontsize + 6;
							}
						}
						@include md{
							padding: 24px 16px 24px 64px;
						}
						@include lg{
							padding: 40px 24px 40px 72px;
						}
						@include xl{
							padding: 48px 30px 48px 120px;
						}
					}	
					a{
						display: inline-block;
						text-align: right;
						position: relative;
						z-index: 1;
						span{
							font-family: $body-fontfamily;
							font-size: $body-fontsize - 2;
							color: $our-story-link-color;
							font-weight: 700;
							text-transform: uppercase;
							border-bottom: 1px solid rgba($our-story-link-color,0.5);
							display: inline-block;
							@include md{
								font-size: $body-fontsize - 2;
							}
							@include lg{
								font-size: $body-fontsize - 1;
							}
						}
						&:hover{
							span{
								color: $our-story-link-hover-color;
								border-bottom: 1px solid rgba($our-story-link-hover-color,1);
							}
						}
						@include md{
							/*padding-left: 64px;*/
							text-align: left;
						}
						@include lg{
							/*padding-left: 72px;*/
						}
						@include xl{
							/*padding-left: 120px;*/
						}
					}
				}
			}
		}
	}
}
/* our story style end */

/* instagram style start */
.instagram{
	.theme-icon{
		&:before{
			font-size: 32px;
		}
	}
	
	.section-heading{
		a{
			text-decoration:none;
		}
		
	}
	
	.section-sub-heading{
		a{
			color:$link-color;
			text-decoration: none;
			&:hover{
				color:$link-hover-color;
			}
		}
	}
	
	
	.instagram-content{
		#instafeed{
			position: relative;
			.custom_insta_link{
				display: block;
				position: relative;
				padding: 0 5px;
				img{
					width: 100%;
					object-fit: cover;
				}
				span{
					display: none;
				}
				&:after{
					content:"";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					background-color: rgba($instagram-section,0.6);
					width: calc(100% - 30px);
					height: calc(100% - 30px);
					display: none;
				}
				&:hover{
					&::after{
						display:block;
					}
					span{
						display: block;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						z-index: 99;
						text-align: center;
						svg{
							width: 30px;
							height: 30px;
							display: block;
							margin: 0 auto 30px;
						}
						label{
							font-family: $body-fontfamily;
							font-size: $body-fontsize - 5;
							color: $theme-black;
							font-weight: 700;
							border: 1px solid $theme-black;
							border-radius: 2px;
							padding: 6px;
							display: block;
							@include md{
								font-size: $body-fontsize - 4;
								padding: 6px;
							}
							@include lg{
								font-size: $body-fontsize - 1; 
								padding: 8px;
							}
							@include xl{
							    padding: 10px;
								font-size: $body-fontsize;
							}
							&:hover{
								cursor: pointer;
								background-color: $theme-black;
								color: $theme-white;
							}
						}
					}
				}
			}

			.slick-arrow{
				background-color: transparent;
				padding: 0;
				margin: 0;
				width: 20px;
				height: 30px;
				z-index: 99;
				&.slick-next{
					right: 9px;
					&::before{
						content:"";
						background-image: url('../icons/angle-right.svg');
						width: 20px;
						height: 30px;
					}
				}
				&.slick-prev{
					left: 9px;
					&::before{
						content:"";
						background-image: url('../icons/angle-right.svg');
						width: 20px;
						height: 30px;
					}
				}
			}

			&:before{
				position: absolute;
			    height: 100%;
			    width: 50px;
			    background: linear-gradient(to right, rgba(0,0,0,0.7), transparent 100%);
			    left: 0;
			    top: 0;
			    content: '';
			    z-index: 1;
			    display: block;
			}
			&:after{
				position: absolute;
			    height: 100%;
			    width: 50px;
			    background: linear-gradient(to left, rgba(0,0,0,0.7), transparent 100% );
			    right: 0;
			    top: 0;
			    content: '';
			    z-index: 1;
			    display: block;
			}
		}
	}
}
/* instagram style end */

