<div class="product-listing-filter-section no-pagination">
    <div class="product-listing-filter-left show">
        <div class="product-listing-pagination show"> 
            {{> components/common/paginator pagination.brand}}     
        </div>
    </div> 
    <div class="product-listing-filter-right show">
        <div class="product-view-button show">
            <a href="javascript:void(0)" class="product-view-btn grid-view view-button-grid show is-active" data-view="product-grid-view">
                <svg><use xlink:href="#icon-grid-view"></use></svg>
            </a>
            <a href="javascript:void(0)" class="product-view-btn list-view view-button-list show" data-view="product-list-view">
                <svg><use xlink:href="#icon-list-view"></use></svg>
            </a>
        </div>
        <div class="product-listing-sort-by show">
            {{> components/products/filter sort=pagination.brand.sort}}
        </div>
    </div>
</div>

<div class="product-view-mode">
	<form action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Brand: {{brand.name}}" {{/if}} data-product-compare>
	    {{> components/products/grid products=brand.products show_compare=brand.show_compare theme_settings=theme_settings event="list"}}
   
        {{> components/products/list products=brand.products show_compare=brand.show_compare theme_settings=theme_settings event="list"}}
	</form>
</div>
 
