<article data-comp="{{id}}" class="card {{#if alternate}}card--alternate{{/if}}" data-product-id="{{id}}" {{#if settings.data_tag_enabled}} data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}" data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{brand.name}}" data-product-price="{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}"  {{/if}} {{#if theme_settings.show_card_swatch}}data-product-card-options{{/if}}>
    <figure class="card-figure figure-content">
        {{#each custom_fields}}
            {{#if name '==' 'New Badge'}}
                <div class="new-badge">
                    <span>{{{value}}}</span>
                </div>
            {{/if}} 
        {{/each}}

        {{#or price.sale_price_with_tax.value price.sale_price_without_tax.value}}
            {{#if theme_settings.product_sale_badges '===' 'sash'}}
                <div class="sale-flag-sash">
                    <span class="sale-text">{{{theme_settings.pdp_sale_badge_label}}}</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'burst'}}
                <div class="starwrap">
                    <div class="sale-text-burst">{{{theme_settings.pdp_sale_badge_label}}}</div>
                    <div class="sale-flag-star"></div>
                </div>
            {{/if}}
        {{/or}}
        
        {{#if demo}}
            <div class="card-img-container">

                
                {{> components/common/responsive-img
		                    image=image
		                    class="card-image"
		                    fallback_size=theme_settings.productgallery_size
		                    lazyload=theme_settings.lazyload_mode
		                    default_image=theme_settings.default_image_product
		                }}
            </div>
        {{else}}
            {{#if images.length '>' 1}}
                <a href="{{url}}" class="card-image-link--slider" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>
                    <div class="card-img-container card-img-container--slider">

	                    {{#if theme_settings.lazyload_mode '==' 'lazyload+lqip'}}
                        	{{#each images}}
                            {{#if @first}}
                                    <img 
        	                            class="card-image first is-active{{#if @last}} last{{/if}}" 
        	                            data-sizes="auto" 
        	                            src="{{getImage this 'productgallery_size' (cdn ../theme_settings.default_image_product)}}" 
        	                            data-src="{{getImage this 'productgallery_size' (cdn ../theme_settings.default_image_product)}}"
        	                            alt="{{alt}}" 
        	                            title="{{alt}}"
        	                            id="lazyload-mode-lqip"
                                    >
                                {{else}}
                                    <img 
        	                            class="card-image lazyload{{#if @last}} last{{/if}}" 
        	                            data-sizes="auto" 
        	                            src="{{getImageSrcset this 1x=(default lqip_size '80w')}}" 
        	                            data-src="{{getImage this 'productgallery_size' (cdn ../theme_settings.default_image_product)}}" 
        	                            alt="{{alt}}" 
        	                            title="{{alt}}"
        	                            id="lazyload-mode-lqip"
                                    >
                                {{/if}}
							{{/each}}
                         {{/if}}
                         
                         
                         {{#if theme_settings.lazyload_mode '==' 'lazyload'}}
                        	{{#each images}}
                            <img 
	                            class="card-image lazyload{{#if @first}} first is-active{{/if}}{{#if @last}} last{{/if}}" 
	                            data-sizes="auto" 
	                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" 
	                            data-src="{{getImage this 'productgallery_size' (cdn ../theme_settings.default_image_product)}}" 
	                            alt="{{alt}}" 
	                            title="{{alt}}"
	                            id="lazyload-mode-active"
                            >
							{{/each}}
                         {{/if}}
                         
                         
                         
	                     {{#if theme_settings.lazyload_mode '==' 'disabled'}}
	                    	{{#each images}}
	                        <img 
	                            class="card-image {{#if @first}} first is-active{{/if}}{{#if @last}} last{{/if}}" 
	                            data-sizes="auto" 
	                            src="{{getImageSrcset this 1x=(default fallback_size '160w')}}" 
	                            data-src="{{getImage this 'productgallery_size' (cdn ../theme_settings.default_image_product)}}" 
	                            alt="{{alt}}" 
	                            title="{{alt}}"
	                            id="lazyload-mode-disabled"
	                        >
							{{/each}}
	                     {{/if}}

                         <img 
                         class="card-image lazyload ls-is-cached" 
                         data-sizes="auto" 
                         src="" 
                         data-src="" 
                         id="swatch-image"
                        >
                        </div>
                </a>
                        <span class="card-image-prev card-image-arrow">
                            <svg class="theme-icon"><use xlink:href="#icon-chevron-left" /></svg>
                        </span>
                        <span class="card-image-next card-image-arrow">
                            <svg class="theme-icon"><use xlink:href="#icon-chevron-right" /></svg>
                        </span>
                   
            {{else}}
                <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>
                    <div class="card-img-container">     
                        {{> components/common/responsive-img
		                    image=image
		                    class="card-image"
		                    fallback_size=theme_settings.productgallery_size
		                    lazyload=theme_settings.lazyload_mode
		                    default_image=theme_settings.default_image_product
		                }}
                    </div>
                </a>
            {{/if}}
        {{/if}}

        <figcaption class="card-figcaption">
            <div class="card-figcaption-body">
                {{#unless hide_product_quick_view}}
                    {{#if theme_settings.show_product_quick_view}}
                        {{#if settings.data_tag_enabled}}
                            <button class="button button--small card-figcaption-button quickview show" data-event-type="product-click" data-product-id="{{id}}" title="Quick View">
                                <span class="icon-eye show theme-icon" data-icon="&#xe904;"></span>
                            </button>
                        {{else}}
                            <button class="button button--small card-figcaption-button quickview show" data-product-id="{{id}}" title="Quick View">
                                <span class="icon-eye show theme-icon" data-icon="&#xe904;"></span>
                            </button>
                        {{/if}}
                    {{/if}}
                {{/unless}}
                {{#if settings.show_wishlist}}
                    <a class="button button--small card-figcaption-button wishlist show card_wishlist" href="javascript:void(0)" title="Add to Wishlist">
                        <p class="wishlist_url" data-Whslst_url="/wishlist.php?action=add&product_id={{id}}"></p>
                        <span class="icon-wishlist show theme-icon" data-icon="&#xe919;"></span>
                    </a>
                {{/if}}
                {{#if show_compare}}
                    <label class="button button--small card-figcaption-button custom-compare show" for="compare-{{id}}" title="Compare">
                        <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">
                        <span class="icon-random show theme-icon" data-icon="&#xe914;"></span>
                    </label>
                {{/if}}
            </div>
        </figcaption>
        <div class="save-tag">
            {{#or price.non_sale_price_with_tax price.sale_price_without_tax}}
{{#if price.with_tax}}
<span class="save-price">{{concat (round (multiply (divide (subtract price.rrp_with_tax.value price.with_tax.value) price.rrp_with_tax.value) 100)) '% off' }}</span>
{{/if}}

{{#if price.non_sale_price_with_tax}}
<span class="save-price">{{concat (round (multiply (divide (subtract price.non_sale_price_with_tax.value price.with_tax.value) price.non_sale_price_with_tax.value) 100)) '% off' }}</span>
{{/if}}

{{#if price.without_tax}}
<span class="save-price">{{concat (round (multiply (divide (subtract price.non_sale_price_without_tax.value price.without_tax.value) price.non_sale_price_without_tax.value) 100)) '% off' }}</span>
{{/if}}
{{/or}}
        </div>
    </figure>
    {{#if theme_settings.current-style '==' 'fashion'}}
        <div class="card-body card-swatch-body">
            {{#if settings.show_product_rating}}
	            {{#if theme_settings.show_card_rating}}
	                <p class="card-text product-rating" data-test-info-type="productRating">
	                    <span class="rating--small">
	                        {{> components/products/ratings rating=rating}}
	                    </span>
	                </p>
	            {{/if}}
            {{/if}}

            {{#if theme_settings.show_card_brand}}
                {{#if brand.name}}
                    <p class="card-text product-brand" data-test-info-type="brandName">{{brand.name}}</p>
                {{/if}}
            {{/if}}

            <h4 class="card-title">
                <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>{{name}}</a>
            </h4>

            <div class="ruk_rating_snippet" data-sku="{{ product.sku }}"></div>

            <div class="card-text product-price" data-test-info-type="price">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{> components/products/price price=price}}
                {{else}}
                    {{> components/elevate/login-for-pricing}}
                {{/or}}
               
            </div>
     
            {{> components/products/bulk-discount-rates}}

            {{#if theme_settings.show_card_swatch}}
            <div class="card-text card-text--colorswatches loading grid" data-product-id="{{id}}" data-product-card-options-content></div>
            {{/if}}

            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                {{#if show_cart_action}}
                    <div class="card-figcaption-button-section">
                        {{#if has_options}}
                            <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button theme-btn-primary" data-product-id="{{id}}">
                                <span>{{lang 'products.choose_options'}}</span>
                            </a>
                        {{/if}}
                        {{#if pre_order}}
                            <a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button theme-btn-primary">
                                <span>{{lang 'products.pre_order'}}</span>
                            </a>
                        {{/if}}
                        {{#if add_to_cart_url }}
                            <a href="{{add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button theme-btn-primary">
                                <span class="icon-add-to-cart show theme-icon" data-icon="&#xe900;"></span><span class="show">{{lang 'products.add_to_cart'}}</span>
                            </a>
                        {{/if}}
                        {{#if out_of_stock_message }}
                            <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button theme-btn-primary" data-product-id="{{id}}">
                                <span>{{out_of_stock_message}}</span>
                            </a>
                        {{/if}}
                    </div>
                {{/if}}
            {{/or}}
        </div>
    {{else if theme_settings.current-style '==' 'autoparts'}}
        <div class="card-body card-swatch-body">
            {{#if theme_settings.show_card_brand}}
                {{#if brand.name}}
                    <p class="card-text product-brand" data-test-info-type="brandName">{{brand.name}}</p>
                {{/if}}
            {{/if}}

            <h4 class="card-title">
                <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>{{name}}</a>
            </h4>
            
            <div class="ruk_rating_snippet" data-sku="{{ product.sku }}"></div>

            <div class="auto-price-rating">
                <div class="card-text product-price" data-test-info-type="price">
                    {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                        {{> components/products/price price=price}}
                    {{else}}
                        {{> components/elevate/login-for-pricing}}
                    {{/or}}
                </div>
                {{> components/products/bulk-discount-rates}}

                {{#if theme_settings.show_card_rating}}
                    <p class="card-text product-rating" data-test-info-type="productRating">
                        <span class="rating--small">
                            {{> components/products/ratings rating=rating}}
                        </span>
                    </p>
                {{/if}}
            </div>

            {{#if theme_settings.show_card_swatch}}
            <div class="card-text card-text--colorswatches loading grid" data-product-card-options-content data-product-id="{{id}}"></div>
            {{/if}}

            <div class="card-figcaption-button-section">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{#if show_cart_action}}
                        {{#if has_options}}
                            <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button theme-btn-primary" data-product-id="{{id}}">
                                <span>{{lang 'products.choose_options'}}</span>
                            </a>
                        {{/if}}
                        {{#if pre_order}}
                            <a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button theme-btn-primary">
                                <span>{{lang 'products.pre_order'}}</span>
                            </a>
                        {{/if}}
                        {{#if add_to_cart_url }}
                            <a href="{{add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button theme-btn-primary">
                                <span class="icon-add-to-cart show theme-icon" data-icon="&#xe900;"></span><span class="show">{{lang 'products.add_to_cart'}}</span>
                            </a>
                        {{/if}}
                        {{#if out_of_stock_message }}
                            <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button theme-btn-primary" data-product-id="{{id}}">
                                <span>{{out_of_stock_message}}</span>
                            </a>
                        {{/if}}
                    {{/if}}
                {{/or}}
            </div>
        </div>
    {{else if theme_settings.current-style '==' 'outdoors'}}
        <div class="card-body card-swatch-body">
            {{#if theme_settings.show_card_rating}}
                <p class="card-text product-rating" data-test-info-type="productRating">
                    <span class="rating--small">
                        {{> components/products/ratings rating=rating}}
                    </span>
                </p>
            {{/if}}

            {{#if theme_settings.show_card_brand}}
                {{#if brand.name}}
                    <p class="card-text product-brand" data-test-info-type="brandName">{{brand.name}}</p>
                {{/if}}
            {{/if}}

            <h4 class="card-title">
                <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>{{name}}</a>
            </h4>
            
            <div class="ruk_rating_snippet" data-sku="{{ product.sku }}"></div>

            <div class="card-text product-price" data-test-info-type="price">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{> components/products/price price=price}}
                {{else}}
                    {{> components/elevate/login-for-pricing}}
                {{/or}}
            </div>
            {{> components/products/bulk-discount-rates}}

            {{#if theme_settings.show_card_swatch}}
            <div class="card-text card-text--colorswatches loading grid" data-product-id="{{id}}" data-product-card-options-content></div>
            {{/if}}

            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                {{#if show_cart_action}}
                    <div class="card-figcaption-button-section">
                        {{#if has_options}}
                            <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button theme-btn-primary" data-product-id="{{id}}">
                                <span>{{lang 'products.choose_options'}}</span>
                            </a>
                        {{/if}}
                        {{#if pre_order}}
                            <a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button theme-btn-primary">
                                <span>{{lang 'products.pre_order'}}</span>
                            </a>
                        {{/if}}
                        {{#if add_to_cart_url }}
                            <a href="{{add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button theme-btn-primary">
                                <span class="icon-add-to-cart show theme-icon" data-icon="&#xe900;"></span><span class="show">{{lang 'products.add_to_cart'}}</span>
                            </a>
                        {{/if}}
                        {{#if out_of_stock_message }}
                            <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button theme-btn-primary" data-product-id="{{id}}">
                                <span>{{out_of_stock_message}}</span>
                            </a>
                        {{/if}}
                    </div>
                {{/if}}
            {{/or}}
        </div>
    {{/if}}
</article>
